/*.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/768473/pexels-photo-768473.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-size: cover;
}

.loginTitle {
  font-size: 50px;
}

.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.loginForm > label {
  margin: 10px 0;
}

.loginInput {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
}

.loginInput:focus {
  outline: none;
}

.loginButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: lightcoral;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.loginRegisterButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: teal;
  cursor: pointer;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 10px;
}*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
.rohit {
  background: #0c1022;
  min-height: 100vh;
  height: 100%;
  overflow-y: hidden;
  font-family: 'Roboto', sans-serif;

}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
-webkit-text-fill-color: #555;;
transition: background-color 5000s ease-in-out 0s;
}

#section-wrappe{
  width: 100%;
  height: 100vh;
  padding: 90px;
}
.bo-wrappe{
  position: relative;
  display: block;
  width:890px;
  margin:auto;
  margin-top:35px;
  border-radius: 30px;
}
.bg-bo{
  width:60%;
  height: 505px;
  float: left;
  display: block;
  border-radius: 30px 0px 0px 30px;
  background: radial-gradient(circle, rgba(63,94,251,1)0%, rgba(251,70,107,1)100%);
}
.bg-bo img{
  width:100%;
  height:100%;
  padding: 30px;
}
.form-bo{
  width:40%;
  height: 505px;
  float: right;
  padding:40px 35px 35px 35px;
  border-radius: 0px 30px 30px 0px;
  background: #ecf0f3;
}
.form-titl{
  text-align: center;
  margin: 0;
  font-size: 28px;
  letter-spacing: 0.5px;
}
.form-fiel{
  width: 100%;
  padding: 30px 5px 5px 5px;
}
.form-fiel input{
  border: none;
  outline:none;
  background: none;
  font-size: 18px;
  color:#555;
  padding: 20px 10px 20px 5px;
  width:100%
}
.form-grou{
  padding: 0px 30px;
  margin-bottom: 25px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}
.fpas{
  margin-bottom: 25px;
  margin-top:-13px;
  text-align: right;
  font-size: 15px;
  color: rgb(100, 57, 107);
}
.fpas-btn{
  cursor: pointer;
}
.fpas-btn:hover{
  color: #f44771;
}
.submi-button{
  width: 100%;
  height: 60px;
  border-radius: 30px;
  font-size: 20px;;
  font-weight: 700;
  outline: none;
  border:none;
  cursor: pointer;
  color:#fff;
  text-align: center;
  background: #f44771;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  transition: .5s;
}
.submi-button:hover{
  background: #1e7dfa;
}
.submi-button:active{
  background: #0b63da;
}
.signi-her{
  text-align: center;
  font-size: 15px;
  padding:10px;
  margin-top: 7px;
}
.signi-her a{
  text-decoration: none;
}
.signi-her a:hover{
  color: red;
}
/* Popup box css */
.fpas-popu-bo{
  position: absolute;
  background: #ecf0f3;
  padding:30px;
  border-radius: 30px;
  top: 100px;
  left: 23%;
  width: 550px;
  box-shadow: 0px 0px 300px 100px #000718;
  transform: scale(0);
  transition: all .4s;
}
.close-btn{
  width: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.form-sub-titl{
  text-align: center;
  margin-top: 10px;
}
/* Responsive css */
@media only screen and (max-width: 767px){
  .bo-wrappe{
      width:100%;
  }
  .bg-bo{
      display: none;
  }
  .form-bo{
      width: 100%;
      height: initial;
      border-radius: 30px;
  }
  .fpas-popu-bo{
      width: 100%;
      left: 0;
  }
}